<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َStudentloginpage</title>
    <link rel="stylesheet" href="inde.css">
  </head>
  <body>

<form class="box">
  <h1>Student Login</h1>
  <input type="text" name="" placeholder="Username">
  <input type="password" name="" placeholder="Password">
  <input type="submit" name="" value="Login">
  <button onclick="location.href='signup.html'" type="button">Sign up?</button>
  <button onclick="location.href='teacherlogin.html'" type="button">I am a teacher</button>

</form>


  </body>
</html>
