<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teacherloginpage</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

<form class="box" action="teacherlogin.html" method="post">
  <h1>Teacher Login</h1>
  <input type="text" name="" placeholder="Username">
  <input type="password" name="" placeholder="Password">
  <input type="submit" name="" value="Login">
  <button onclick="location.href='signup.html'" type="button">Sign up?</button>
  <button onclick="location.href='studentlogin.html'" type="button">I am a student</button>


</form>


  </body>
</html>
